#contactbg{
    background-color: #afb4b6;
    height: 100%;
    width: 100%;
}

.contactcards{ 
    padding-top: 150px;
}

#firstcont{
    height: 70vh;
    padding-left: 10vh;
}

#contactform{
    border: 2px solid black;
    background-color: #d6d9db;
    width: 85%;
    margin-bottom: 20px;
    
}


@media only screen and (max-width:414px) {
    
    #contactmap{
        
        width: 100%;
        
    }

    #contactmapdiv{
        padding-top: 100vh;
    }   

    #firstcont{
        padding-left: 10%;
    }
    
  }

  @media only screen and (min-device-width:415px) and (max-device-width:769px) {
    
    #contactmap{
        
        width: 100%;
        
    }

    #contactmapdiv{
        padding-top: 102vh;
    }  
    
    
    
  }


  @media only screen and (min-device-width:770px) and (max-device-width:1001px) {
    
    #contactmap{
        margin-top: 10px;
        width: 100%;
    }

    #contactmapdiv{
        padding-top: 50vh;
    }    
  }  


  @media only screen and (min-device-width:1002px) and (max-device-width:2000px) {
    
    #contactmap{
        margin-top: 10px;
        width: 100%;
    }

    
  }  

  
